<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Arcado</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://kit.fontawesome.com/f776ee7346.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<header id="loginHeading">
				<h1>Arcado</h1>
				<h3>An Online Community For Creatives</h3>
		</header>
		<section id="loginSec">
			<h1><span class="fa fa-sign-in"></span> Signup</h1>

			<form action="/signup" method="post">
					<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" name="email">
					</div>
					<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" name="password">
					</div>

					<button type="submit" class="btn btn-warning btn-lg">Signup</button>
			</form>
			<p>Already have an account? <a href="/login">Login</a></p>
			
		</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
